[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "==5.3.0"
beautifulsoup4 = "==4.6.3"
eyed3 = "==0.8.8"
tkinter = "==8.6"
lxml= "==4.2.5"

[requires]
python_version = "3.6"
